.article-card {
  display: flex;
  width: 100%; }

.article-card__design-process-card {
  display: flex;
  width: 47%; }

.article-card__thematic-blog-card {
  max-height: 359px;
  padding: 10px;
  display: flex;
  width: 45%; }
