.text-white {
  color: #ffffff; }

.primary {
  color: #9b9b9b; }

.secondary {
  color: #ff5480; }

.sm-font-size {
  font-size: 14px; }

.md-font-size {
  font-size: 16px; }

.lg-second-font-size {
  font-size: 20px; }

.xxl-font-size {
  font-size: 28px; }

.xxxl-font-size {
  font-size: 36px; }

.author {
  padding-bottom: 15px;
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 46px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif; }
