.banner {
  width: 100%;
  padding: 20px 0;
  font-family: "Open Sans", sans-serif; }
  .banner__canvas {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    height: 330px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #ffffff; }

@media (max-width: 1200px) {
  .banner {
    display: none; } }
.flags {
  padding: 10px 0; }
  .flags__box {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: inline-block;
    background-color: #ffffff;
    line-height: 30px;
    padding: 5px 5px 5px 7px;
    margin: 0 10px 7px 0; }
  .flags__icon {
    color: #9b9b9b;
    font-size: 15px;
    padding: 0 5px 0 10px; }

.flags__box:hover {
  cursor: pointer;
  background-color: #9283e0;
  color: #ffffff; }
