.text-white {
  color: #ffffff; }

.text-primary {
  color: #9b9b9b; }

.text-secondary {
  color: #ff5480; }

.md-font-size {
  font-size: 16px; }

.lg-second-font-size {
  font-size: 20px; }

.xxl-font-size {
  font-size: 28px; }

.xxxl-font-size {
  font-size: 36px; }

.box-card {
  width: 49%;
  padding-right: 25px; }
  .box-card__main-card {
    padding: 35px 40px 19px;
    max-width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    background-color: #1b0042;
    background-color: #1b0042;
    height: 40vh;
    color: #ffffff;
    border-radius: 8px; }
  .box-card__title {
    padding-bottom: 40px; }

@media (max-width: 514px) {
  .box-card__main-card {
    padding: 15px; } }
@media (max-width: 1340px) {
  .box-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start; } }
@media (max-width: 1142px) {
  .box-card {
    width: 80%;
    padding-right: 0px; } }
