.box-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding: 100px 0px; }
  .box-card__first-section {
    width: 45%; }
  .box-card__second-section {
    width: 50%; }

.second-section__row {
  display: flex; }
