.box-card {
  width: 49%;
  padding-right: 25px; }
  .box-card__main-card {
    padding: 20px;
    max-width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    background-color: #1b0042;
    background-color: #1b0042;
    height: 340px;
    color: #ffffff;
    border-radius: 8px; }
  .box-card__title {
    padding-bottom: 40px; }

@media (max-width: 550px) {
  .box-card__main-card {
    height: auto; } }
@media (max-width: 514px) {
  .box-card__main-card {
    padding: 15px; } }
@media (max-width: 1340px) {
  .box-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start; } }
@media (max-width: 1142px) {
  .box-card {
    width: 100%;
    padding-right: 0; } }
