.text-white {
  color: #ffffff; }

.primary {
  color: #9b9b9b; }

.secondary {
  color: #ff5480; }

.sm-font-size {
  font-size: 14px; }

.md-font-size {
  font-size: 16px; }

.lg-second-font-size {
  font-size: 20px; }

.xxl-font-size {
  font-size: 28px; }

.xxxl-font-size {
  font-size: 36px; }

.button {
  font-size: 24px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  border: 0px;
  padding: 10px 20px;
  background-color: #ff5480;
  border-radius: 40px; }

.button--hovered:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #e24885;
  cursor: pointer; }
