.DayPicker-wrapper {
  width: 380px;
  height: 355px;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff; }

.DayPicker-Month {
  display: table;
  margin: 15px 15px 0 15px;
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-user-select: none;
  user-select: none;
  width: 363px;
  height: 261px; }

.DayPicker-Day:hover {
  background-color: #ff5480;
  color: #ffffff;
  cursor: pointer; }

.DayPicker-Caption > div {
  text-align: center;
  color: #000000;
  font-size: 14px;
  font-weight: 600; }

.DayPicker-Caption {
  margin-top: 30px;
  display: table-caption;
  margin-bottom: 25px; }

.DayPicker-NavButton {
  top: 35px;
  border-radius: 50%;
  background-size: 30%;
  padding: 5px;
  background-color: #e6e6e6; }
  .DayPicker-NavButton--prev {
    left: 25px; }
