.comments-form {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  display: grid;
  max-width: 500px;
  padding: 40px 0px; }

.textarea {
  resize: none; }

.link {
  text-decoration: none;
  color: #37cee6; }
