.comment-card {
  padding: 30px 0px;
  display: flex; }
  .comment-card__box {
    width: 100%; }
  .comment-card__first-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between; }
  .comment-card__second-container {
    padding-top: 30px; }

@media (max-width: 500px) {
  .comment-card__first-container {
    flex-direction: column; } }
.line-image {
  padding: 35px 0px 35px; }

@media (max-width: 800px) {
  .line-image {
    max-width: 100%; } }
.avatar {
  max-width: 79px;
  max-height: 79px;
  border-radius: 100px;
  margin-right: 30px; }
