.article-header {
  font-size: 36px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.22px;
  line-height: 46px;
  padding: 10px 0px 40px; }

.design-process-card {
  padding: 25px 40px 45px;
  max-width: 573px;
  max-height: 358px;
  border-radius: 8px;
  background-color: #1b0042; }
  .design-process-card--hovered:hover {
    cursor: pointer;
    background-color: #22006b; }
  .design-process-card__author {
    font-size: 16px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    letter-spacing: -0.1px;
    line-height: 46px;
    text-transform: uppercase; }
  .design-process-card__title {
    font-size: 28px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    letter-spacing: -0.17px;
    line-height: 46px; }
  .design-process-card__paragraph {
    font-size: 16px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    letter-spacing: -0.1px;
    line-height: 32px; }
