.text-white {
  color: #ffffff; }

.text-primary {
  color: #9b9b9b; }

.text-secondary {
  color: #ff5480; }

.md-font-size {
  font-size: 16px; }

.lg-second-font-size {
  font-size: 20px; }

.xxl-font-size {
  font-size: 28px; }

.xxxl-font-size {
  font-size: 36px; }

.entry-field {
  font-size: 16px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  border: 2px solid #e6e6e6;
  padding: 15px; }
