.flex-box {
  display: flex; }
  .flex-box--center {
    justify-content: center; }
  .flex-box--post-styles {
    display: flex; }

@media (max-width: 1340px) {
  .flex-box {
    flex-direction: column;
    align-items: center;
    justify-content: center; } }
@media (max-width: 805px) {
  .flex-box--post-styles {
    flex-direction: column; } }
