.text-white {
  color: #ffffff; }

.primary {
  color: #9b9b9b; }

.secondary {
  color: #ff5480; }

.sm-font-size {
  font-size: 14px; }

.md-font-size {
  font-size: 16px; }

.lg-second-font-size {
  font-size: 20px; }

.xxl-font-size {
  font-size: 28px; }

.xxxl-font-size {
  font-size: 36px; }

.grid-box {
  font-size: 16px;
  color: #9b9b9b;
  font-family: "Open Sans", sans-serif;
  text-align: right;
  padding-bottom: 50px; }
  .grid-box--hovered:hover {
    color: #ff5480;
    cursor: pointer; }

@media (max-width: 1142px) {
  .grid-box {
    text-align: left;
    padding-top: 50px; } }
.thematic-cards-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px; }

@media (max-width: 700px) {
  .thematic-cards-box {
    grid-template-columns: 1fr; } }
