.fa {
  color: #ffffff; }
  .fa--hovered:hover {
    color: #ff5480;
    cursor: pointer; }

@media (max-width: 600px) {
  .fa--hovered:hover {
    cursor: auto;
    color: #ffffff; }

  .icon__anchor {
    cursor: auto; } }
.fa__footer {
  width: 24px;
  color: #ffffff; }

.icon, .icon--post-styles {
  text-align: center;
  background-color: #9b9b9b;
  border-radius: 25px;
  padding: 6px 2px;
  margin: 5px; }
  .icon--post-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
    font-size: 22px;
    width: 35px;
    height: 35px; }

@media (max-width: 1190px) {
  .icon--post-styles {
    margin-left: 20px; } }
@media (max-width: 805px) {
  .icon--post-styles {
    display: none; } }
@media (max-width: 805px) {
  .fa__footer {
    margin: 10px;
    padding-bottom: 10px; } }
