.icon, .icon--post-styles {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 26px;
  height: 25px;
  align-items: center;
  background-color: #9b9b9b;
  border-radius: 25px;
  margin: 5px;
  font-size: 14px; }
  .icon--post-styles {
    margin-bottom: 20px;
    font-size: 22px;
    width: 36px;
    height: 35px; }

@media (max-width: 1190px) {
  .icon--post-styles {
    margin-left: 20px; } }
@media (max-width: 805px) {
  .icon--post-styles {
    display: none; } }
.fa--hovered:hover {
  color: #ff5480;
  cursor: pointer; }

@media (max-width: 600px) {
  .fa--hovered:hover {
    cursor: auto;
    color: #ffffff; }

  .icon__anchor {
    cursor: auto; } }
.fa__footer {
  width: 35px;
  color: #ffffff; }
