@media (max-width: 1190px) {
  .like-container {
    margin-right: 20px; } }
@media (max-width: 805px) {
  .like-container {
    display: none; } }
.like-card {
  margin-bottom: 36px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 20px; }

.like-icon {
  font-size: 28px;
  width: 34px;
  height: 34px;
  color: #000000; }
