.main-card__slide-box {
  width: 100%;
  padding-top: 150px; }

.slide-box {
  padding: 0px;
  max-width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  background-color: #1b0042;
  max-height: 800px;
  width: 85%; }

@media (max-width: 1190px) {
  .slide-box {
    padding-left: 45px; } }
.slider {
  height: 85vh;
  background-color: #1b0042;
  color: #ffffff;
  font-size: 36px; }

.slick-dots {
  position: absolute;
  bottom: 20px;
  font-size: 0; }

.slick-dots li {
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0; }

div.slick-dots {
  display: none; }

li.slick-active {
  background-color: pink;
  border-radius: 50%; }
