.text-white {
  color: #ffffff; }

.text-primary {
  color: #9b9b9b; }

.text-secondary {
  color: #ff5480; }

.md-font-size {
  font-size: 16px; }

.lg-second-font-size {
  font-size: 20px; }

.xxl-font-size {
  font-size: 28px; }

.xxxl-font-size {
  font-size: 36px; }

.main-card-page {
  padding: 150px 100px 150px;
  max-width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  background-color: #1b0042;
  max-height: 800px;
  color: #ffffff;
  font-size: 36px; }

@media (max-width: 1190px) {
  .main-card-page {
    padding-left: 20px;
    padding-right: 20px; } }
.slider {
  height: 85vh;
  background-color: #1b0042;
  color: #ffffff;
  font-size: 36px; }

.slick-dots {
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0; }

div.slick-dots {
  display: none; }

li.slick-active {
  background-color: pink;
  border-radius: 50%; }
