.article-header {
  font-size: 36px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.22px;
  line-height: 46px;
  padding: 10px 0px 40px; }

.main-card {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  padding: 25px 40px 45px;
  max-width: 573px;
  max-height: 358px;
  border-radius: 8px;
  background-color: #1b0042; }
  .main-card--hovered:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    background-color: #220059; }
  .main-card__author {
    font-size: 16px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    letter-spacing: -0.1px;
    line-height: 46px;
    text-transform: uppercase; }
  .main-card__title {
    font-size: 28px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    letter-spacing: -0.17px;
    line-height: 46px; }
  .main-card__paragraph {
    font-size: 16px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    letter-spacing: -0.1px;
    line-height: 32px; }
