.text-white {
  color: #ffffff; }

.text-primary {
  color: #9b9b9b; }

.text-secondary {
  color: #ff5480; }

.md-font-size {
  font-size: 16px; }

.lg-second-font-size {
  font-size: 20px; }

.xxl-font-size {
  font-size: 28px; }

.xxxl-font-size {
  font-size: 36px; }

.main-card {
  font-family: "Open Sans", sans-serif; }
  .main-card--hovered:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    background-color: #220059; }
  .main-card__title {
    padding-bottom: 40px; }

@media (max-width: 600px) {
  .main-card--hovered:hover {
    background-color: #1b0042;
    box-shadow: none; } }
