.navigation-bar {
  padding: 5px; }
  .navigation-bar__link {
    font-size: 16px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
    font-weight: 600;
    text-decoration: none;
    margin: 35px; }
    .navigation-bar__link--hovered:hover {
      background-color: #ff5480;
      border-radius: 10px;
      color: #ffffff; }

@media (max-width: 1000px) {
  .navigation-bar {
    padding: 0px; } }
@media (max-width: 610px) {
  .navigation-bar {
    padding: 10px; } }
@media (max-width: 1000px) {
  .navigation-bar__link {
    margin: 15px; } }
@media (max-width: 755px) {
  .navigation-bar__link {
    margin: 0px; } }
