.header {
  display: flex;
  color: red; }

.navigation-bar__link {
  color: #000000;
  font-family: "Open Sans Semi Bold";
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  margin: 50px;
}
