.header {
  display: flex;
  color: red; }

.navigation-bar__link {
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
  margin: 50px; }
