.navigation-bar {
  padding: 5px; }
  .navigation-bar__link {
    font-size: 16px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
    font-weight: 600;
    text-decoration: none;
    margin: 35px; }
    .navigation-bar__link--hovered:hover {
      background-color: #ff5480;
      border-radius: 10px;
      color: #ffffff; }

@media (max-width: 800px) {
  .navigation-bar {
    padding: 8px; } }
@media (max-width: 1000px) {
  .navigation-bar__link {
    margin: 15px; } }
@media (max-width: 600px) {
  .navigation-bar__link {
    cursor: auto; } }
