.text-white {
  color: #ffffff; }

.text-primary {
  color: #9b9b9b; }

.text-secondary {
  color: #ff5480; }

.md-font-size {
  font-size: 16px; }

.lg-second-font-size {
  font-size: 20px; }

.xxl-font-size {
  font-size: 28px; }

.xxxl-font-size {
  font-size: 36px; }

.outline-button, .outline-button--pink, .outline-button--gray {
  font-weight: 600;
  border-radius: 10px;
  padding: 7px;
  background-color: #fafafa;
  text-decoration: none; }
  .outline-button--hovered:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7); }

.outline-button--pink {
  font-size: 14px;
  color: #ff5480;
  font-family: "Open Sans", sans-serif;
  border: 2px solid #ff5480;
  color: #ff5480; }

.outline-button--gray {
  font-size: 14px;
  color: #9b9b9b;
  font-family: "Open Sans", sans-serif;
  border: 2px solid #e6e6e6; }
