.pagination-box {
  padding: 20px 10px 60px 10px;
  border-radius: 8px; }
  .pagination-box__main-card {
    margin: 30px 0; }
  .pagination-box--hovered:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer; }

@media (max-width: 600px) {
  .pagination-box {
    padding: 20px 10px 15px 10px; } }
.pagination {
  padding: 100px 0 0;
  display: flex;
  list-style: none;
  outline: none; }

@media (max-width: 1100px) {
  .pagination {
    padding: 0; } }
.pagination > .active > a {
  color: #fff; }

.pagination > li > a {
  font-size: "Open Sans", sans-serif;
  color: 16px;
  font-family: "Open Sans", sans-serif;
  padding: 20px 25px;
  margin: 6px;
  background-color: #f1f1f1;
  border-radius: 50px;
  outline: none;
  cursor: pointer; }

@media (max-width: 870px) {
  .pagination > li > a {
    border-radius: 50%;
    padding: 10px 15px; } }
@media (max-width: 540px) {
  .pagination > li > a {
    font-size: 10px;
    padding: 8px 13px;
    margin: 1px; } }
@media (max-width: 365px) {
  .pagination > li > a {
    font-size: 12px;
    padding: 5px 8px; } }
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #ff5480;
  border-radius: 50px;
  outline: none; }

.pagination > li > a,
.pagination > li > span {
  color: #000000; }
