.pagination-box {
  padding: 20px 10px 60px 10px;
  border-radius: 50%; }
  .pagination-box__main-card {
    margin: 60px 0;
    max-height: 500px; }
  .pagination-box--hovered:hover {
    cursor: pointer; }

@media (max-width: 1200px) {
  .pagination-box__main-card {
    max-height: none;
    margin: 20px 10px 15px 10px; } }
@media (max-width: 600px) {
  .pagination-box {
    padding: 20px 10px 15px 10px; } }
.pagination {
  padding: 100px 0 0;
  display: flex;
  list-style: none;
  outline: none; }

@media (max-width: 1100px) {
  .pagination {
    padding: 30px; } }
.pagination > .active > a {
  color: #fff; }

.pagination > li > a {
  font-size: "Open Sans", sans-serif;
  color: 16px;
  font-family: "Open Sans", sans-serif;
  padding: 20px 25px;
  margin: 6px;
  background-color: #f1f1f1;
  border-radius: 50%;
  outline: none;
  cursor: pointer; }

@media (max-width: 870px) {
  .pagination > li > a {
    padding: 10px 15px; } }
@media (max-width: 540px) {
  .pagination > li > a {
    font-size: 10px;
    padding: 8px 13px;
    margin: 1px; } }
@media (max-width: 365px) {
  .pagination > li > a {
    font-size: 12px;
    padding: 5px 8px; } }
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #ff5480;
  border-radius: 50px;
  outline: none; }

.pagination > li > a,
.pagination > li > span {
  color: #000000; }
