.post-content {
  padding: 0 40px;
  font-family: "Open Sans", sans-serif;
  color: #4a4a4a; }

@media (max-width: 1000px) {
  .post-content {
    padding: 0 10px; } }
@media (max-width: 800px) {
  .post-content {
    padding: 0 20px; } }
.page-link {
  color: #27aeff;
  text-decoration: none; }
