html {
  max-width: 100%;
  overflow-x: hidden; }

body {
  overflow-x: hidden; }

.wrapper {
  margin: 0 auto;
  max-width: 1170px; }

@media (max-width: 1450px) {
  .secondary-wrapper {
    max-width: 1350px;
    margin: 0 auto;
    width: 90%; } }
