@import '../../../assets/styles/scss/styles.scss';

.main-card {
  font-family: $open-sans-font;

  &--hovered:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    background-color: $violet-color-hovered;
  }

  &__author {
    font-size: $md-font-size;
    letter-spacing: -0.1px;
    line-height: 46px;
    text-transform: uppercase;
  }

  &__title {
    font-size: $xxl-font-size;
    font-weight: $bold-font-weight;
    letter-spacing: -0.17px;
    line-height: 46px;
    padding-bottom: 40px;
  }

  &__paragraph {
    font-size: $md-font-size;
    letter-spacing: -0.1px;
    line-height: 32px;
  }
}

@media (max-width: 800px) {
  .main-card__title{
    font-size:$xl-font-size
  }
  .main-card__author{
    font-size:$sm-font-size
  }
  .main-card__paragraph{
    font-size:$sm-font-size
  }
}

@media (max-width: 400px) {
  .main-card__title{
    font-size:$lg-font-size
  }
}

@media (max-width: 330px) {
  .main-card__title{
    font-size:$md-font-size
  }
}

