.subscribe-box {
  display: flex;
  flex-direction: column;
  padding: 150px 0;

  &__content {
    font-weight: 600;
    padding: 30px 0 50px;
    text-align: center;
  }

  &__title {
    padding: 20px 0;
    text-align: center;
  }
}

@media(max-width: 1100px) {
  .subscribe-box{
    display: none;
  }
}

.subscribe-input {
  position: relative;

  &__email {
    position: absolute;
    left: 70px;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    width: 55%;
    border-radius: 40px;
  }

  &__button {
    position: absolute;
    padding: 9px;
    right: 200px;
  }
}