@import '../../../assets/styles/scss/styles.scss';

.main-card-page{
  @include main-card( 150px 100px 150px, 100%, $violet-color);
  max-height: 800px ;
  @include main-card( 150px 0 150px, 100%, $violet-color);
}

.slider{
  height: 70vh;
  background-color: $violet-color;
  color: $white-color;
  font-size: $xxxl-font-size;
}


.slick-dots{
  position: absolute;
  bottom: 20px;
  font-size: 0;
}

.slick-dots li{
  background-color: white;
  border-radius: 50%;
}

li.slick-active{
  background-color: pink;
  border-radius: 50%;
}
