@import '../../../assets/styles/scss/styles.scss';

.header{
  display: flex;
  color: red;
}
.navigation-bar {

  &__link{
    @include text-styles($md-font-size, $black-color, $text-padding);
  font-weight: $bold-font-weight;
    text-decoration: none;
    margin: 50px;
  }
}