@import '../../../assets/styles/scss/styles.scss';

.title-post-card{
  padding: 150px 0 60px 0;
}

@media(max-width: 1200px) {
  .title-post-card{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media(max-width: 1000px) {
  .title-post-card{
    padding: 75px 20px 0;
  }
}

@media(max-width: 600px) {
  .title-post-card{
    padding-bottom: 0;
  }
}