@import './variables';

@mixin text-styles($font-size, $font-color) {
  font-size: $font-size;
  color: $font-color;
  font-family: $open-sans-font;
}

@mixin main-card( $padding, $max-width, $bg-color) {
  padding: $padding;
  max-width: $max-width;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  background-color: $bg-color;
}

@mixin thematic-blog-card( $padding) {
  padding: $padding;
  height: 50vh;
  max-width: 276px;
  max-height: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: $white-color;
}

