$open-sans-font:'Open Sans', sans-serif;
$bold-font-weight: 600;

$white-color: #ffffff;
$pink: #ff5480;
$black-color: #000000;
$violet:  #1b0042;
$light-gray-color: #9b9b9b;

$xxxl-font-size: 36px;
$xxl-font-size: 28px;
$xl-font-size: 24px;
$lg-font-size: 18px;
$md-font-size: 16px;
$sm-font-size: 14px;

//padding
$p-5: 5px;
$p-10 : 10px


