$open-sans-font:'Open Sans', sans-serif;
$bold-font-weight: 600;

$white-color: #ffffff;
$pink: #ff5480;
$black-color: #000000;
$light-violet-color: #9283e0;
$violet-color:  #1b0042;
$violet-color-hovered: #220059;
$light-gray-color: #9b9b9b;
$dark-gray-color: #4a4a4a;
$border-gray-color: #e6e6e6;
$blue-color: #37cee6;

$xxxl-font-size: 36px;
$xxl-font-size: 28px;
$xl-font-size: 24px;
$lg-second-font-size: 20px;
$lg-font-size: 18px;
$md-font-size: 16px;
$sm-font-size: 14px;



