@import '../../assets/styles/scss/styles.scss';

.main-card-page{
  @include main-card( 150px 0px 150px, 100%, $violet-color);
}
@media (max-width: 1190px) {
  .main-card-page {
    padding-left: 15px;
  }
}

.slider{
  height: 85vh;
  background-color: $violet-color;
  color: $white-color;
  font-size: $xxxl-font-size;
}

.slick-dots{
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0;
}

div.slick-dots{
  display: none;
}

li.slick-active{
  background-color: pink;
  border-radius: 50%;
}
