@import '../../assets/styles/scss/styles.scss';

.main-card-page{
  @include main-card( 150px 100px 150px, 100%, $violet-color);
  max-height: 800px ;
  color: $white-color;
  font-size: $xxxl-font-size;
}