@import '../../assets/styles/scss/styles.scss';

.subscribe-small-box {
  background-color: $white-color;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  position: relative;
  width: 100%;
  height: 188px;
  margin-bottom: 20px;

  &__form {
    padding-top: 30px;
  }

  &__title {
    text-align: center;
    padding: 30px 0px 0px;
    font-weight: $bold-font-weight;
    line-height: 30px;
  }

  &__email {
    padding: 13px;
    border-radius: 40px;
    position: absolute;
    left: 70px;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    width: 55%;
  }

  &__button {
    border-radius: 40px;
    padding: 14px 20px;
    font-size: $sm-font-size;
    position: absolute;
    right: 50px;
  }
}

@media(max-width: 1200px)and (min-width: 900px) {
  .subscribe-small-box {
    display: none;
  }
}
@media(max-width: 900px) {
  .subscribe-small-box {
    height: auto;
  }
  .subscribe-small-box__form {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-small-box__email{
    position: static;
  }
  .subscribe-small-box__button {
    position: static;
   margin: 30px;
  }
}
