@import '../../assets/styles/scss/styles.scss';

.user {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: $white-color;
  padding-bottom: 30px;

  &__icons {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}