@import '../../../assets/styles/scss/styles.scss';

.image{
  height: 570px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px;
}

@media (max-width:650px ) {
  .image{
    height: 300px;
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width:600px ) {
  .image{
    height: 200px;
  }
}