@import '../../../assets/styles/scss/styles.scss';

.comments-list-box{
  padding: 90px 0px 50px;
}

.form-box{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  background-color: $white-color;
}

@media (max-width: 400px) {
  .form-box {
    padding:40px 20px;
  }
}
@media (max-width: 395px) {
  .form-box {
    padding:40px 5px;
  }
}