@import '../../../assets/styles/scss/styles.scss';

.thematic-card-blog {
  padding: 15px 7px;
  max-width: 276px;
  max-height: 169px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: $white-color;

  &--hovered:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

  &__theme {
    @include text-styles($md-font-size, $light-gray-color);
    letter-spacing: -0.1px;
    line-height: 46px;
    text-transform: uppercase;
  }

  &__title {
    @include text-styles($lg-font-size, $black-color);
    font-weight: $bold-font-weight;
    letter-spacing: -0.11px;
    line-height: 30px;
  }
}