@import '../../../assets/styles/scss/styles.scss';

.logo--black-color {
  padding-bottom: 7px;
}

@media (max-width: 680px) {
  .logo--black-color {
    padding: 10px;
  }
}

.logo--gray-color {
  filter: opacity(0.5);
}
@media (max-width: 805px) {
  .logo--gray-color {
    padding: 10px;
  }
}