@import '../../../assets/styles/scss/styles.scss';

.fa {
  color: $white-color;

  &--hovered:hover {
    color: $pink;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .fa--hovered:hover {
    cursor: auto;
    color: $white-color;
  }
  .icon__anchor {
    cursor: auto;
  }
}


.fa__footer {
  width: 24px;
  color: $white-color;
}

.icon {
  text-align: center;
  background-color: $light-gray-color ;
  border-radius: 25px;
  padding: 6px 2px;
  margin: 5px;
  &--post-styles{
    @extend .icon;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
    font-size: 22px;
    width: 34px;
    height: 34px;
  }
}

@media (max-width: 1190px) {
  .icon--post-styles{
    margin-left: 20px;
  }
}

@media (max-width: 805px) {
  .icon--post-styles{
    display: none;
  }
}

@media (max-width: 805px) {
  .fa__footer {
    margin: 10px;
    padding-bottom: 10px;
  }
}


