.list-container{
  width: 8vw;
}

.list-card{
  height: 25vh;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.list-title{
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

