@import '../../assets/styles/scss/styles.scss';

.comments-form {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  display: grid;
  width: 90%;
  padding: 40px 0px;

}

@media (max-width: 500px) {
  .comments-form__button {
    padding: 10px 15px;
    font-size: $lg-font-size;
  }
}

.textarea {
  resize: none;
}

.link {
  text-decoration: none;
  color: $blue-color;
}