@import '../../assets/styles/scss/styles.scss';

.comments-list-box {
  padding: 90px 0px 50px;
}

.form-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  background-color: $white-color;
}

@media (max-width: 500px) {
  .form-box {
    padding: 40px 5px;
  }
}

@media (max-width: 300px) {
  .form-box {
    padding: 30px 0px;
  }
}