@import '../../../assets/styles/scss/styles.scss';

.navigation-bar {
  padding: 5px;
  &__link {
    @include text-styles($md-font-size, $black-color);
    padding: 10px;
    font-weight: $bold-font-weight;
    text-decoration: none;
    margin: 35px;
    &--hovered:hover{
      background-color: $pink;
      border-radius: 10px;
      color: $white-color;
    }
  }
}

@media (max-width: 1000px) {
  .navigation-bar__link  {
    margin: 15px;
  }
}

@media (max-width: 600px) {
  .navigation-bar__link  {
    cursor: auto;
  }
}
