@import '../../../assets/styles/scss/styles.scss';

.main-card__slide-box {
  width: 100%;
  padding-top: 150px;
}

.slide-box {
  @include main-card( 0px , 100%, $violet-color);
  max-height: 800px;
  width: 85%;
}

@media (max-width: 1190px) {
  .slide-box {
    padding-left: 45px;
  }
}

.slider {
  height: 85vh;
  background-color: $violet-color;
  color: $white-color;
  font-size: $xxxl-font-size;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  font-size: 0;
}

.slick-dots li {
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0;
}

div.slick-dots {
  display: none;
}

li.slick-active {
  background-color: pink;
  border-radius: 50%;
}