@import '../../../assets/styles/scss/styles.scss';

.title {
  font-family: $open-sans-font;
  font-weight: 700;
  letter-spacing: -0.22px;
  line-height: 46px;

  &--post-styles {
    margin-bottom: 10px;
  }
  //&--post-styles{
  //  padding: 50px 0 0 0;
  //}
}

//&--lg-font-size {
//  @extend .title;
//  @include text-styles($lg-font-size, $black-color);

@media (max-width: 800px) {
  .title {
    font-size: $xl-font-size
  }
}

@media (max-width: 400px) {
  .title {
    font-size: $lg-font-size
  }
}

@media (max-width: 330px) {
  .title {
    font-size: $md-font-size
  }
}

@media (max-width: 1200px) {
  .title{
    padding-left: 20px;
  }
}

@media (max-width: 900px) {
  .title{
    text-align: center;
  }
}

