@import '../../../assets/styles/scss/styles.scss';

.title {
  font-weight: 700;
  letter-spacing: -0.22px;
  line-height: 46px;


  &--post-styles{
    padding: 50px 0 0 0;
  }

  &--lg-font-size {
    @extend .title;
    @include text-styles($lg-font-size, $black-color);
  }

  &--xxl-font-size {
    @extend .title;
    @include text-styles($xxl-font-size, $black-color);
  }

  &--xxxl-font-size {
    @extend .title;
    @include text-styles($xxxl-font-size, $black-color);
  }
}