@import '../../assets/styles/scss/styles.scss';

.figcaption{
  text-align: center;
  color: $light-violet-color;
  font-family: $open-sans-font;
  font-style: italic;
  font-size: $xl-font-size;
  font-weight: $bold-font-weight;
  letter-spacing: -0.15px;
  line-height: 58px;
}

@media (max-width: 680px) {
  .figcaption{
    font-size: $md-font-size;
    line-height: 35px;
  }
}