@import '../../../assets/styles/scss/styles.scss';

.sidebar-post{
  display: flex;
  padding-bottom: 25px;
  &__image{
    width: 100%;
    max-width: 80px;
    height: 80px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  &--small{
    padding: 0 0 5px 10px;
    line-height: 20px;
  }
  &--center{
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
  }
}

.sidebar-post > div:hover{
  color: $pink;
  cursor: pointer;
}
