@import '../../../assets/styles/scss/styles.scss';

.sidebar-post {
  display: flex;
  padding-bottom: 25px;

  &__image {
    width: 100%;
    max-width: 80px;
    height: 80px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }

  &--small {
    padding: 0 0 5px 10px;
    line-height: 20px;
  }

  &--center {
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
  }
}

@media(max-width: 325px) {
  .sidebar-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    .sidebar-post__text-box{
      text-align: center;
      padding-top: 10px;
    }
  }
}

@media(max-width: 1200px) {
  .sidebar-post--small {
    line-height: 30px;
    font-size: $lg-font-size;
  }
}

@media(max-width: 850px) {
  .sidebar-post--small {
    line-height: 20px;
  }
}

@media(max-width: 520px) {
  .sidebar-post--small {
    font-size: $sm-font-size;
    line-height: 17px;
  }
}

.sidebar-post > div:hover {
  color: $pink;
  cursor: pointer;
}
