@import '../../../assets/styles/scss/styles.scss';

.social-icons{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 30px;
  &--pink{
    background-color: $pink;
    &:hover{
      background-color: $white-color;
    }
  }
  &--big{
    width: 40px;
    height: 40px;
    font-size: $lg-font-size;
  }
}

@media(max-width: 1200px) {
  .sidebar-essentials{
    display: none;
  }
}
