@import '../../assets/styles/scss/styles.scss';

.post {
  padding-top: 20px;
  padding-bottom: 200px;
}

@media (max-width: 1000px) {
  .post {
    padding-top: 70px;
    padding-bottom: 100px;
  }
}

@media (max-width: 805px) {
  .post {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.post__title {
  padding-bottom: 30px;
}

@media (max-width: 1190px) {
  .post__title {
    padding-left: 25px;
    padding-bottom: 20px;
  }
}

@media (max-width: 510px) {
  .post__title {
    font-size: $xxl-font-size;
  }
}

@media (max-width: 377px) {
  .post__title {
    font-size: $xl-font-size;
  }
}