@import '../../../assets/styles/scss/styles.scss';

.box-card {
  width: 49%;
  padding-right: 25px;

  &__main-card {
    @include main-card(10px, 100%, $violet-color);
    background-color: $violet-color;
    height: 340px;
    color: $white-color;
    border-radius: 8px;
  }

  &__title {
    padding-bottom: 40px;
  }
}

@media (max-width: 514px) {
  .box-card__main-card {
    padding: 15px;
  }
}
@media (max-width: 550px) {
  .box-card__main-card {
    height: auto;
  }
}

@media (max-width: 1340px) {
  .box-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 1142px) {
  .box-card {
    width: 100%;
    padding-right: 0;
  }
}