.box-card{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding: 100px 0px;

  &__first-section{
    width: 45%;
  }
  &__second-section{
    width: 50%;
  }
}
.second-section__row{
  display: flex;
}