@import '../../../assets/styles/scss/styles.scss';

.author {
  padding-bottom: 15px;
  font-size: $md-font-size;
  letter-spacing: -0.1px;
  line-height: 46px;
  text-transform: uppercase;
  font-family: $open-sans-font;
}