.author{
  font-style: normal;
  text-align: center;
  color: #000;
  margin: 30px;
  line-height: 25px;
  font-weight: 600;
  &__image{
    margin-bottom: 15px;
  }
  &__name{
    font-family: "Open Sans Semi Bold", sans-serif;
    font-size: 18px;
    letter-spacing: -0.11px;
    text-transform: uppercase;
  }
  &__social{
    font-size: 16px;
    letter-spacing: -0.1px;
    & > a{
      color: deepskyblue;
      text-decoration: none;
    }
  }
}