@import '../../../assets/styles/scss/styles.scss';

@media (max-width: 600px) {
  .like-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.like-card{
  margin-bottom: 36px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

.like-icon{
  font-size: 28px;
  width: 34px;
  height: 34px;
  color: $black-color;
}