@import '../../../assets/styles/scss/styles.scss';

.grid-box {
  @include text-styles($md-font-size, $light-gray-color);
  text-align: right;
  padding-bottom: 50px;

  &--hovered:hover {
    color: $pink;
    cursor: pointer;
  }
}

@media (max-width: 1142px) {
  .grid-box {
    text-align: left;
    padding-top: 50px;
  }
}

.thematic-cards-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

@media (max-width: 700px) {
  .thematic-cards-box {
    grid-template-columns: 1fr;
  }
}