.post{
  display: flex;
}

.content{
  margin: 0 40px;
}

.figure-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 600px) {
  .post{
    flex-direction: column;
  }
}